*.sln
*.vcxproj
*.xcodeproj
*.sublime-project
*.sublime-workspace
local_settings.lua
debug/
release/
shipping/
*.sdf
*.suo
.vs
bootstrap-linux
bootstrap-macos
bootstrap-windows
copy-file-example.cache
foo.out
.sweet_build
*.o
*.obj
