*.sln
*.vcxproj
*.xcodeproj
*.sublime-project
*.sublime-workspace
local_settings.lua
debug/
release/
shipping/
*.sdf
*.suo
*.pdb
.vs
bootstrap-linux
bootstrap-macos
bootstrap-windows
copy-file-example.cache
foo.out
.sweet_build
*.o
*.obj
/docs/tutorials/cxx-library-tutorial/hello_world
/docs/tutorials/cxx-executable-tutorial/hello_world
