*.sln
*.vcxproj
*.xcodeproj
*.sublime-project
*.sublime-workspace
local_settings.lua
debug/
release/
shipping/
.vscode/
*.sdf
*.suo
*.pdb
.vs
bootstrap
copy-file-example.cache
.forge
*.o
*.obj
/docs/tutorials/copying-files/output/
/docs/tutorials/compile-and-link-cxx/hello_world
/docs/_site/